* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #fff;
}

a {
  text-decoration: none;
  display: block;
  font-size: 25px;
  width: 450px;
  padding: 54px 50px;
}

ul {
  list-style-type: none;
}

.container {
  height: 1000px;
}

#shallow-list {
  width: 450px;
  margin: 0 auto;
  background-color: #2a394f;
  border-radius: 4px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.shallow-item > a {
  border-bottom: 4px solid #2a374c;
}

.text {
  display: inline-block;
  margin-left: 30px;
  width: 260px;
}

.sub-shallow {
  background-color: #16a4f9;
  display: none;
}

.shallow-item > a:hover {
  border-bottom: 4px solid #355789;
  background-color: #222e41;
}

.sub-shallow a:hover {
  background-color: #0c93e3;
  border-left: 6px solid #146ca1;
}

a span:last-child i {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
    